<!-- websocket 测试 -->
<script>
    // let socket = new WebSocket("ws://localhost:8000/ws/test/kafka/");
    // let socket = new WebSocket("ws://localhost:8000/ws/test/kafka_seek/");
    let socket = new WebSocket("ws://localhost:8000/ws/emergencyovertimegroup/");
    // let socket = new WebSocket("ws://localhost:8000/ws/emergencyomnibusgroup/");
    // let socket = new WebSocket("ws://localhost:8000/ws/test/allgroup/");
    // let socket = new WebSocket("ws://localhost:8000/ws/emergencyovertime/");

	socket.onopen = function(event) {
	  console.log("[open] Connection established", event);
	  console.log("Sending to server");
	  socket.send("My name is Dad");
	};

	socket.onmessage = function(event) {
	  // console.log(`[message] Data received from server: ${event.data}`);
	  console.log(`[message] Data received from server: `, JSON.parse(event.data));
	};

	socket.onclose = function(event) {
	  if (event.wasClean) {
	    console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
	  } else {
	    // e.g. server process killed or network down
	    // event.code is usually 1006 in this case
	    console.log('[close] Connection died');
	  }
	};

	socket.onerror = function(error) {
	  console.log(`[error] ${error.message}`);
	};
</script>

